{% extends "dashboard/dashboard_base.html" %}
{% block body %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<br>
{% if success %}
<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" /></svg>
    <div>
        {{ success_message }}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
        {{ error_message }}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<br>
<br>
{% if change_password %}
<h2><strong>Do you want to Change Password of <em><u>{{ emp_details['Name'] }}</u></em> ?</strong></h2>
{% endif %}
{% if remove %}
<h2><strong>Do you want to Remove <em><u>{{ emp_details['Name'] }}</u></em> ?</strong></h2>
{% endif %}
<br>
<br>
<h3><strong>Employee Details</strong></h3>
<br>
<div class="d-flex">
    <ol class="list-group list-group-numbered list-group-flush">
        <li class="list-group-item list-group-item-secondary list-group-item-action"><strong><u>Name</u> :
                <em>{{ emp_details['Name'] }}</em></strong></li>
        <li class="list-group-item list-group-item-secondary list-group-item-action"><strong><u>Email</u> :
                <em>{{ emp_details['Email'] }}</em></strong></li>
        <li class="list-group-item list-group-item-secondary list-group-item-action"><strong><u>Role</u> :
                <em>{{ emp_details['Role'] }}</em></strong></li>
    </ol>
</div>

<br>
<br>

{% if change_password %}
<div class="d-flex">
    <a class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#changeemppasswordModal">Change
        Password</a>
    <a href="/dash/change_employee_password_html" type="button" class="btn btn-danger mx-4">Go Back</a>
</div>
{% endif %}

{% if remove %}
<div class="d-flex">
    <a class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#changeemppasswordModal">Remove
        Employee</a>
    <a href="/dash/remove_employee_html" type="button" class="btn btn-primary mx-4">Go Back</a>
</div>
{% endif %}

<div class="modal fade" id="changeemppasswordModal" tabindex="-1" aria-labelledby="changeemppasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                {% if change_password %}
                <h5 class="modal-title" id="changeemppasswordModalLabel">Change Password of {{ emp_details['Name'] }}
                </h5>
                {% elif remove %}
                <h5 class="modal-title" id="changeemppasswordModalLabel">Remove {{ emp_details['Name'] }}
                </h5>
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if change_password %}
            <div class="modal-body">

                <form action="/dash/change_employee_password/{{ emp_details['Email'] }}" method="post" id="empform">
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="Employee Email"
                            name="employee_email" required>
                        <label for="floatingEmail">Employee Email</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="floatingPassword1" placeholder="Password"
                            name="new_password" onkeyup='analyze();' required>
                        <label for="floatingPassword1">New Password</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="floatingPassword2" placeholder="Password"
                            name="confirm_new_password" onkeyup='check();' required>
                        <label for="floatingPassword2">Confirm Password</label>
                    </div>
                </form>
                <span id="message"></span>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark" form="empform">Save Changes</button>
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            </div>
            {% endif %}

            {% if remove %}
            <div class="modal-body">
                <form action="/dash/remove_employee/{{ emp_details['Email'] }}" method="post" id="empform">
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="Employee Email"
                            name="employee_email" required>
                        <label for="floatingEmail">Employee Email</label>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="empform">Remove</button>
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal End -->

<script>
    var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
    var mediumRegex = new RegExp(
        "^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

    var special_chars = /(?=.*[!@#$%^&*])/;
    var lowercase_chars = /(?=.*[a-z])/;
    var uppercase_chars = /(?=.*[A-Z])/;
    var digits = /(?=.*[0-9])/;

    var check = function () {
        if (document.getElementById('floatingPassword1').value ==
            document.getElementById('floatingPassword2').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Password Matched';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password is not Matching';
        }
    }
    var password_features = function () {
        let pw = document.getElementById('floatingPassword1').value
        // var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;

        if (pw.length < 8) {
            document.getElementById('message').style.color = 'red';
            document.getElementById("message").innerHTML = "Password length must be atleast 8 characters";
        } else if (pw.search(lowercase_chars)) {
            document.getElementById('message').style.color = 'red';
            document.getElementById("message").innerHTML = "Password Must have one lowercase(a-z) character";
        } else if (pw.search(uppercase_chars)) {
            document.getElementById('message').style.color = 'red';
            document.getElementById("message").innerHTML = "Password Must have one UPPERCASE(A-Z) character";
        } else if (pw.search(digits)) {
            document.getElementById('message').style.color = 'red';
            document.getElementById("message").innerHTML = "Password Must have one digit(0-9)";
        } else if (pw.search(special_chars)) {
            document.getElementById('message').style.color = 'red';
            document.getElementById("message").innerHTML = "Password must have a special character";
        } else {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Strong Password';
        }
        // document.getElementById('message').style.color = 'red';
        // document.getElementById('message').innerHTML = 'Password is not Matching';

    }
    let analyze = function () {
        let pw = document.getElementById('floatingPassword1').value
        if (strongRegex.test(pw)) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Strong Password';
        } else if (mediumRegex.test(pw)) {
            document.getElementById('message').style.color = 'orange';
            document.getElementById('message').innerHTML = 'Medium Password';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Weak Password';
        }
    };
</script>


{% endblock %}